<apex:page standardController="Account" extensions="A">

<apex:sectionHeader title="FirstPage" rendered="true" subtitle="NewPage" description="This is test section" help="https://www.google.com"/>
<!--<apex:page standardController="" -->
<apex:form >
<apex:pageBlock >
  <apex:pageBlockSection >
     <apex:inputText label="FirstName"/> 
          <apex:inputText label="LastName"/> 
          <apex:inputText label="State" value="{!test}"/> 
          <apex:inputText label="City"/> 
          <apex:inputText label="Pin Code"/> 
          <apex:inputText label="Locality"/>
          <apex:inputText label="College/University Name"/> 
          
               <apex:selectList label="Contry" multiselect="false" size="1" >
               <apex:selectOption itemValue="INDIA" itemLabel="India" />
               <apex:selectOption itemValue="NEPAL" itemLabel="Nepal"/>
               <apex:selectOption itemValue="PAKISTAN" itemLabel="Pakistan"/>
               <apex:selectOption itemValue="UK" itemLabel="UK"/>
               </apex:selectList> 
                          <p>hi all {!account.name}</p> 
        <apex:commandButton value="Save" action="{!save}" /> 
   
     </apex:pageBlockSection>
  </apex:pageBlock>

  </apex:form>
  Hello     {! $User.FirstName}<br/>
  {! $User.LastName}<br/>
    {! $Profile.Name}<br/>
      {! $Organization.Name}<br/>
        <apex:detail />
  </apex:page>