<apex:page showHeader="true" readOnly="true" sidebar="true">

        
        <style>
        .activeTab {background-color:#236FBD; color: white; background-image:none; border-color: black; }
        .inactiveTab {background-color:lightgrey; color:black; background-image:none}
        .account{
            font-style:solid;
            
            
        }
        </style>

        <apex:tabPanel switchType="clints"  selectedTab="tabdetails" id="AccountTabPanel" style="margin-top:0%;" styleClass="account" tabClass="activeTab" inactiveTabClass="inactiveTab">               
              <apex:tab label="Contracts" name="AccDetails" id="tabdetails" >
                 <apex:form >
                  <apex:outputLabel value="Document Type"></apex:outputLabel>
                  
                  <apex:selectList multiselect="false" size="1" style="width:100px">
                      <apex:selectOption itemLabel="--None--" itemValue="None" ></apex:selectOption>&nbsp;&nbsp;&nbsp;&nbsp;
                      <apex:selectOption itemLabel="A" itemValue="A"></apex:selectOption>
                      <apex:selectOption itemLabel="B" itemValue="B"></apex:selectOption>
                      <apex:selectOption itemLabel="C" itemValue="C"></apex:selectOption>
                  </apex:selectList><br/><br/>
                  <apex:outputLabel value="Description"></apex:outputLabel>;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="Description" style="width:100px;"/>&nbsp;&nbsp;&nbsp;
                  <apex:outputLabel value="Others"></apex:outputLabel>&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="Others" style="width:100px"/><br/><br/>
                  <apex:outputLabel value="Summary"></apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="Summary" style="width:100px"/><br/><br/>
                  <apex:outputLabel value="SKB Box #"></apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="SKB Box #" style="width:100px"/><br/><br/>
                  <apex:outputLabel value="Box Description"></apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="Box Description" style="width:100px"/><br/><br/>
                  <apex:outputLabel value="Comments"></apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="Comments" style="width:100px"/><br/><br/>
                  <apex:inputsecret />
                  <apex:outputLabel value="View File"></apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="View File" style="width:100px"/><br/><br/>
                  
                  
                  
                 <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <apex:commandButton value="Add" style="width:100px;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:commandButton value="Cancel" style="width:100px;" />
                  
                  <apex:inputFile size="1000" value="500" fileSize="1000"></apex:inputFile>
                                     
                  </apex:form>
              </apex:tab>
              
              <apex:tab label="Contracts_SBG" name="Contacts" id="tabContacts">
                  <apex:form >
                  <apex:outputLabel value="Document Type"></apex:outputLabel>
                  
                  <apex:selectList multiselect="false" size="1" style="width:100px">
                      <apex:selectOption itemLabel="--None--" itemValue="None" ></apex:selectOption>&nbsp;&nbsp;&nbsp;&nbsp;
                      <apex:selectOption itemLabel="A" itemValue="A"></apex:selectOption>
                      <apex:selectOption itemLabel="B" itemValue="B"></apex:selectOption>
                      <apex:selectOption itemLabel="C" itemValue="C"></apex:selectOption>
                  </apex:selectList><br/><br/>
                  <apex:outputLabel value="Description"></apex:outputLabel>;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="Description" style="width:100px; border-color:Red blue; border-width:5px;"/>&nbsp;&nbsp;&nbsp;
                  <apex:outputLabel value="Others"></apex:outputLabel>&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="Others" style="width:100px"/><br/><br/>
                  <apex:outputLabel value="Summary"></apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="Summary" style="width:100px"/><br/><br/>
                  <apex:outputLabel value="SKB Box #"></apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="SKB Box #" style="width:100px"/><br/><br/>
                  <apex:outputLabel value="Box Description"></apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="Box Description" style="width:100px"/><br/><br/>
                  <apex:outputLabel value="Comments"></apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="Comments" style="width:100px"/><br/><br/>
                  <apex:outputLabel value="View File"></apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="View File" style="width:100px"/><br/><br/>
                  
                  <apex:outputLabel value="Brouse" >nbnvnb</apex:outputLabel>
                  <apex:inputFile fileSize="100" fileName="myFile" size="10" title="Upload file" value="10"></apex:inputFile>                  
                  
                 <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <apex:commandButton value="Add" style="width:100px;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:commandButton value="Cancel" style="width:100px;" />
                  

                                     
                  </apex:form>

              </apex:tab>
              
              <apex:tab label="Contracts_Documents" name="Opportunities" id="tabOpp">
                    <apex:form >
                  <apex:outputLabel value="Document Type"></apex:outputLabel>
                  
                  <apex:selectList multiselect="false" size="1" style="width:100px">
                      <apex:selectOption itemLabel="--None--" itemValue="None" ></apex:selectOption>&nbsp;&nbsp;&nbsp;&nbsp;
                      <apex:selectOption itemLabel="A" itemValue="A"></apex:selectOption>
                      <apex:selectOption itemLabel="B" itemValue="B"></apex:selectOption>
                      <apex:selectOption itemLabel="C" itemValue="C"></apex:selectOption>
                  </apex:selectList><br/><br/>
                  <apex:outputLabel value="Description"></apex:outputLabel>;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="Description" style="width:100px; border-color:Red blue; border-width:5px;"/>&nbsp;&nbsp;&nbsp;
                  <apex:outputLabel value="Others"></apex:outputLabel>&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="Others" style="width:100px"/><br/><br/>
                  <apex:outputLabel value="Summary"></apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="Summary" style="width:100px"/><br/><br/>
                  <apex:outputLabel value="SKB Box #"></apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="SKB Box #" style="width:100px"/><br/><br/>
                  <apex:outputLabel value="Box Description"></apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="Box Description" style="width:100px"/><br/><br/>
                  <apex:outputLabel value="Comments"></apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="Comments" style="width:100px"/><br/><br/>
                  <apex:outputLabel value="View File"></apex:outputLabel>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:inputText label="View File" style="width:100px"/><br/><br/>
                  
                 
                  
                 <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <apex:commandButton value="Add" style="width:100px;" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <apex:commandButton value="Cancel" style="width:100px;" />
                                
                  </apex:form>
              </apex:tab>                         
               
        </apex:tabPanel>
           
</apex:page>