<apex:page controller="wrapperClassController1" sidebar="false">   
    <script type="text/javascript">
        function selectAllCheckboxes(obj,receivedInputID){
            var inputCheckBox = document.getElementsByTagName("input");                  
            for(var i=0; i<inputCheckBox.length; i++){          
                if(inputCheckBox[i].id.indexOf(receivedInputID)!=-1){                                     
                    inputCheckBox[i].checked = obj.checked;
                }
            }
        }
    </script>

    <apex:form >
        <apex:pageBlock >        
            <apex:pageBlockButtons >
                <apex:commandButton action="{!processSelected}" value="Show selecte Accounts" reRender="block2" />
                <apex:commandButton action="{!updateToAccName}" value="Update Selected Account"/>
            </apex:pageBlockButtons>
            
            <apex:actionFunction action="{!refreshGrid}" name="queryByPage" reRender="myPanel,myButtons" >
                <apex:param name="firstParam" assignTo="{!selectedPage}" value="" />
            </apex:actionFunction>          
            <apex:dynamicComponent componentValue="{!myCommandButtons}" />

            <apex:pageBlockSection title="Numbers and their Square Roots (Total List Size: {!total_size})" collapsible="false" columns="1" ondblclick="alert('Hi');">
            <apex:outputPanel id="myPanel">
            <apex:pageMessages id="theMessages" />
            <apex:pageBlockTable value="{!numbers}" var="waccl" align="center">
                    <apex:column >
                        <apex:facet name="header">
                            <apex:inputCheckbox onclick="selectAllCheckboxes(this,'inputId')"/>
                        </apex:facet>     
                        <apex:inputCheckbox value="{!waccl.isSelected}" id="inputId" />               
                        <!--<apex:facet name="Header">
                            <apex:inputCheckbox />
                        </apex:facet> -->
                        <!--<apex:inputCheckbox value="{!waccl.isSelected}" />--> 
                       <!-- <apex:inputCheckbox value="{!waccl.isSelectedTrue}" /> -->
                    </apex:column>
                    <apex:column value="{!waccl.accn.Name}"/>
                    <apex:column value="{!waccl.accn.Type}"/>
                    <apex:column value="{!waccl.accn.Industry}"/> 
                <apex:facet name="footer">Showing Page # {!pageNumber} of {!totalPages}</apex:facet>
            </apex:pageBlockTable>
          </apex:outputPanel>
        </apex:pageBlockSection>        
     </apex:pageBlock>
  </apex:form>      
</apex:page>